/* Always add in any css */
* {
    padding: 0;
    margin: 0;
}

/* the following code is to check the elements */
header *, header {
    outline: 1px solid green;
}

section.hero,
section.hero * {
    outline: 1px solid blue;
}

footer, footer * {
    outline: 1px solid red;
}

/* The actual code */
nav > button {
    border-radius: 8px;
    padding: 2px 8px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh; /* 10% of Screen */
    background-color: rgba(240, 248, 255, 0.26);
}

section.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    overflow: hidden;
    position: relative;
}

section.hero img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    object-fit: cover;
    height: 90vh;
    opacity: 40%;
}

section.hero .content {
    gap:8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

footer {
    padding: 2px 8px;
}